div#intro
    h1 Welcome to Collaborative Youtube!
    div#menuButtons
        div(class="row row-centered")
            div(class ="col-xs-6 col-sm-3 col-centered")
                button(class="btn btn-primary button-bordeaux" ng-click="createRoom()" style="margin-top: 5%") Create New Room
        div(class="row row-centered")
            div(class ="col-xs-6 col-sm-3 col-centered")
                button(class="btn btn-primary button-bordeaux" ng-click="joinRoom()" style="margin-top: 5%") Join Room
        div(class="row row-centered")
            div(class ="col-xs-6 col-sm-3 col-centered")
                a(class="btn btn-primary button-bordeaux", ng-click="logout()" ng-href="/auth/logout" target="_self" style="margin-top: 5%") Logout


