div#intro
    h1 Welcome to Collaborative Youtube!
    div#menuButtons
        div(class="row row-centered")
            div(class ="col-xs-6 col-sm-3 col-centered")
                a(class="btn btn-primary", href="/auth/facebook" target="_self" style="margin-top: 3%") Facebook Login
        div(class="row row-centered")
            div(class ="col-xs-6 col-sm-3 col-centered")
                a(class="btn btn-primary", href="/auth/google" target="_self" style="margin-top: 3%") G+ Login
        div(class="row row-centered")
            div(class ="col-xs-6 col-sm-3 col-centered")
                a(class="btn btn-primary", href="/auth/facebook" target="_self" style="margin-top: 3%") Twitter Login


