div#intro
    h1 Welcome to Collaborative Youtube!
    div#menuButtons

    .row
        .col-md-4
            .menu
                label(for='room-id')
                    .input-group
                        span#basic-addon3.input-group-addon Video ID:
                        input#room-id.form-control(type='text', aria-describedby='basic-addon3', ng-model="video_url")
                    button.btn.btn-primary.button-bordeaux(type='button', ng-click='ok()') OK

                .wrapper(style="text-align: center")
                    img(ng-src='{{profilePic}}' width="35%" style="border-radius: 100%; margin-top: 15%" )
                    h2(style="margin-top: 5%") {{userName}}
                    button.btn.btn-primary.button-bordeaux(type='button', ng-click='exit()' style="margin-top: 10%") Exit Room
        .col-md-4()
            img(ng-src="{{myStyle}}" width="100%" height="90%" ng-if="isOwner == false && preview")
            button.btn.btn-primary.btn-block.button-bordeaux(type='button', ng-click='setReady()' ng-if="isOwner == false && preview") Ready
            .player-wrapper(ng-if="player" style="text-align: center")
                img#videoOverlay(src='http://i.stack.imgur.com/TMCfE.png' width="100%" height="90%")
                youtube-video(video-id="theBestVideo" player="playerSettings.player" player-vars="playerSettings.vars" player-width="'100%'" player-height="'300px'")

                button.btn.btn-primary.button-bordeaux(type='button', ng-click='play()' ng-if="isOwner") Play
                button.btn.btn-primary.button-bordeaux(type='button', ng-click='pause()' ng-if="isOwner") Pause



        .col-md-4
            .user-list
                .h2 Viewers List
                ul.list-group(ng-repeat="viewer in viewers")
                    li.list-group-item {{viewer.name}}
                        span.badge(ng-if ="viewer.ready == true" style = "background-color: green" ) R
                        span.badge(ng-if ="viewer.ready == false" style = "background-color: #d80000") NR
                        //img(ng-src='{{profilePic}}' width="5%" style="border-radius: 100%; margin-left:5%")
                    //li.list-group-item Dapibus ac facilisis in
                    //li.list-group-item Morbi leo risus
                    //li.list-group-item Porta ac consectetur ac
                    //li.list-group-item Vestibulum at eros


