div#intro
    h1 Welcome to Collaborative Youtube!
    div#menuButtons

    .row
        .col-md-4
            .menu
        .col-md-4
            .player

        .col-md-4
            .user-list
                .h2 Viewers List
                ul.list-group(ng-repeat="viewer in viewers")
                    li.list-group-item {{viewer}}
                    //li.list-group-item Dapibus ac facilisis in
                    //li.list-group-item Morbi leo risus
                    //li.list-group-item Porta ac consectetur ac
                    //li.list-group-item Vestibulum at eros


