div#intro
    h1 Welcome to Collaborative Youtube!
    div#menuButtons

    .row
        .col-md-4
            .menu
                label(for='room-id')
                    .input-group
                        span#basic-addon3.input-group-addon Video ID:
                        input#room-id.form-control(type='text', aria-describedby='basic-addon3', ng-model="video_url")
                    button.btn.btn-primary(type='button', ng-click='ok()') OK
        .col-md-4
            img(ng-src="{{myStyle}}" ng-if="isOwner == false && preview")
            .player-wrapper(ng-if="player")
                .player-overlay(ng-style="myStyle")
                youtube-video(video-id="theBestVideo" player="playerSettings.player" player-vars="playerSettings.vars" player-width="'100%'" player-height="'300px'")
                button.btn.btn-primary(type='button', ng-click='play()') Play
                button.btn.btn-primary(type='button', ng-click='pause()') Pause






        .col-md-4
            .user-list
                .h2 Viewers List
                ul.list-group(ng-repeat="viewer in viewers")
                    li.list-group-item {{viewer}}
                        span.badge(ng-if ="viewer.isReady == true" style = "background-color: green") R
                        span.badge(ng-if ="viewer.isReady == false" style = "background-color: #d80000") NR
                    //li.list-group-item Dapibus ac facilisis in
                    //li.list-group-item Morbi leo risus
                    //li.list-group-item Porta ac consectetur ac
                    //li.list-group-item Vestibulum at eros


